@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Fira+Code&display=swap');
@import url('//fonts/iosevka-ss04-regular.ttf');

html,
body {
  overscroll-behavior: none;
}

body,
button {
  margin: 0;
  font-family: 'Open Sans';
  /* font-family: 'Source Code Pro'; */
  /* font-family: 'Fira Code'; */
  /* font-family: 'Iosevka SS04'; */
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
